<footer class="mt-auto bg-white rounded shadow p-5 mb-4 mt-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
            <p class="mb-0 text-center text-lg-start">
                &copy; <a class="text-primary fw-normal" href="mailto:bettinamigge@ucd.ie" target="_blank">Ndyuka Translation</a>
                - Coded by <a href="https://appseed.us" target="_blank">Idris Abdulmumin</a>.
            </p>
        </div>
    </div>
</footer>
