{% extends "layouts/base2.html" %}

{% block title %} Ndyuka Translation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="#">Volt</a></li>
              <li class="breadcrumb-item active" aria-current="page">Forms</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Forms</h1>
              <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p>
          </div>
          <div>
              <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/components-forms/" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Forms Docs</a>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-body">     
                  <div class="row mb-4">
                      <div class="col-lg-6 col-sm-6">
                          <!-- Form -->
                          <div class="col-lg-6 mb-4">
                              <label class="my-1 me-2" for="country">Source Language</label>
                              <select class="form-select" id="country" aria-label="Default select example">
                                  <option selected>Select Source Language</option>
                                  <option value="1">Ndyuka (Aukaans)</option>
                                  <option value="2">English</option>
                                  <option value="3">French</option>
                              </select>
                          </div>
                          <div class="my-4">
                              <label for="textarea">Text to Translate</label>
                              <textarea class="form-control" placeholder="Enter your text..." id="textarea" rows="4"></textarea>
                              <button type="button" class="btn btn-primary d-inline-flex align-items-center">
                                  <svg class="icon icon-xxs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg>
                                  Translate
                              </button>
                          </div>
                      </div>
                      <div class="col-lg-6 col-sm-6">

                          <!-- Form -->
                          <div class="col-lg-6 mb-4">
                              <label class="my-1 me-2" for="country">Target Language</label>
                              <select class="form-select" id="country" aria-label="Default select example">
                                  <option selected>Select Source Language</option>
                                  <option value="1">Ndyuka (Aukaans)</option>
                                  <option value="2">English</option>
                                  <option value="3">French</option>
                              </select>
                          </div>
                          <div class="my-4">
                              <label for="textarea">Translation</label>
                              <textarea class="form-control" placeholder="Enter your text..." id="textarea" rows="4"></textarea>
                              <button type="button" class="btn btn-primary d-inline-flex align-items-center">
                                  <svg class="icon icon-xxs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg>
                                  Review
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
